@charset "UTF-8";

.menu-link:hover {
    background-color: #4ec14a; 
    color: #ffffff; 
    border-radius: 10px;
}

/*근태 메뉴 박스 */

.summary-container {
   /*  width: 100%;
    max-width: 1155px; */
    width: 95%;
    margin: 0 auto; /*상하 좌우 여백 0, 가운데 설정 */
    margin-top: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.summary-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.summary-item {
    flex: 1;
    margin: 5px 15px;
    margin-bottom: 20px; 
    padding: 20px;
    border-radius: 10px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s;
}

.summary-item.active {
    background-color: #a6e7ff;
}

.summary-item .icon {
    font-size: 30px;
    margin-bottom: 10px;
}

.summary-item .icon.purple {
    color: #9b59b6;
}

.summary-item .icon.grey {
    color: #95a5a6;
}

.summary-item .icon.blue {
    color: #3498db;
}

.summary-item .text {
    font-size: 14px;
}

.summary-item .text span {
    font-size: 16px;
    font-weight: bold;
}

.small-text {
    margin-top: 10px;
    color: #666;
}


.summary-container h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
}



/* 근태기록 테이블 스타일 */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent; /*테이블 배경색 투명색으로 */
    border-collapse: collapse; /*테이블 셀 주변 테두리 병합 셀사이 공간 제거 */ 
    border-radius: 50px;
}

.table th,
.table td {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table-bordered {
    border: 1px solid #dee2e6;
    
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

.container {
    width: 95%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color:white;
    border-radius: 10px;
}
.container h2{
  font-size: 20px;
  margin-top: 20px;
  margin-left: 2px;
  text-align: left;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    
}

.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

#page-bar {
    text-align: center;
    margin-top: 20px;
}



