body, html {
  height: 100%;
  margin: 0;
}

.container-fluid {
  height: 100%;
}

.row {
  height: 100%;
}

#sidebar {
  height: 100%;
  background-color: #f8f9fa;
  padding: 20px;
  overflow-y: auto;
}

main {
  height: 100%;
  padding: 20px;
}

#calendar {
  height: calc(100vh - 40px); /* Adjust this value if you have additional margins/paddings */
}

.fc-day-sat { color: blue; }
.fc-day-sun { color: red; }

.calendar-section {
  margin-bottom: 20px;
}

.calendar-item {
  margin-left: 20px;
}

#addScheduleBtn {
  width: 100%;
  margin-bottom: 20px;
}

/* 추가된 CSS */
input[type="checkbox"]:checked + label {
  color: #4ec14a;
}

/* 체크박스 스타일 */
input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid green;
    border-radius: 3px;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: green;
    border-color: green;
}

input[type="checkbox"]:checked::after {
    content: '✔';
    color: white;
    font-size: 16px;
    position: absolute;
    top: -2px;
    left: 2px;
}

/* FullCalendar 버튼 스타일 */
.fc .fc-button-primary {
    background-color: green;
    border-color: green;
}

.fc .fc-button-primary:hover,
.fc .fc-button-primary:focus,
.fc .fc-button-primary.fc-button-active {
    background-color: darkgreen;
    border-color: darkgreen;
}

.fc .fc-button-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 128, 0, 0.25);
}
