@charset "UTF-8";

body {
 background-image: url("/GDJ79_final/resources/images/loginmain.jpg"); 
 width: 100%;
 height: 100vh; /* 화면 전체 높이 */
 background-size: cover; /* 배경 이미지를 요소 전체를 덮도록 설정 */
 background-position: center center; /* 배경 이미지를 중앙에 배치 */
 background-repeat: no-repeat; /* 배경 이미지를 반복하지 않음 */  
}


.form-check{
	font-size:12px;	
}

#logbtn{
	background-color: rgb(105, 191, 86);
	color: white;
}

.text-center{
	font-size:10px;
}

.card-body{
	padding-top:20px;
}

.input-group input-group-merge:focus {
  color: #697a8d;
  background-color: #fff;
  border-color: rgba(105, 108, 255, 0.1);
  outline: 0;
  box-shadow: 0 0 0.25rem 0.05rem rgba(105, 108, 255, 0.1);
}

